{% extends "base.html" %}

{% block rightnav %}
<ul class="nav navbar-nav navbar-right">
	<li><a href="#me">{{ username }}</a></li>
	<li><a href="{% url 'logout'%}">Logout</a></li>
</ul>
{% endblock %}

{% block container %}
<div class="container" role="main">
	<div class="page-header">
		<h1>Group{{group.gid}}</h1>
	</div>
    <div class="panel panel-primary">
		<div class="panel-heading">
		<h3 class="panel-title">Cipher Text</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{group.cipher}}
        </div>
    </div>

	<div class="page-header">
		<h1>Attack</h1>
	</div>

    <form action="{% url 'attack-post' group.gid %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Key</label>
            <input type=text class="form-control" name=key></input>
            <label for="name">Text</label>
            <input type=text class="form-control" name=text></input>
            <input type="hidden" name='cipher' value={{ group.cipher }}>
            <label class="checkbox-inline">
                <input type="radio" name="choice" id="choice1" value="encryption" checked>Encryption
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="choice" id="choice2" value="decryption">Decryption
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="choice" id="choice3" value="try">Try to break the cipher!
            </label>
            <button type="submit" name=submit class="btn btn-default">Submit</button>
        </div>
    </form>
</div>



{% endblock %}
