{% extends "base.html" %}

{% block header %}
<div class="header">
	<h1> Ve475 Introduction to Cryptography </h1>
	<h2> SU2017 Challenge 2 </h2>
</div>
{% endblock %}

{% block content %}
<div class="content">
	<p> Welcome! </p>
	<h2 class="content-subhead"> Phase 1 </h2>
	<p>The goal of the first phase is to implement some ciphers with respect to the following rules.</p>
	<h2 class="content-subhead"> Phase 2 </h2>
	<p>For two weeks starting July 4th every team will be able to run blackbox attacks in order to break each other’s encryption schemes. The goal is to recover the plaintexts corresponding to the ciphertexts. In this second phase the attacks will be run through a website whose address will be provided. The process is as follows:</p>
	<h2 class="content-subhead"> Phase 3 </h2>
	<p>On July 18th, all the source codes of the still unbroken ciphers will be uploaded on Sakai. Any kind of
attack will then be allowed, including for instance side-channel attacks.</p>
	<h2 class="content-subhead"> Rewards </h2>
	<p>For each implementation, the ciphertext to break should be rated with a number of credits to be won when its corresponding plaintext is recovered. The total credits for all the implementations of a team should be 10. If the secret key is also recovered using a cryptographic attack a bonus of +2 credits will be awarded.</p>
	<h2 class="content-subhead"> Important Notes </h2>
	<p> Please read carefully those final comments.</p>

</div>
{% endblock %}
