<!DOCTYPE html>
{% extends "base.html" %}
{% load custom_markdown %}

{% block rightnav %}
<ul class="nav navbar-nav navbar-right">
	{% ifequal status "in"	 %}
	<li><a href="#me">{{ username }}</a></li>
	<li><a href="{% url 'logout'%}">Logout</a></li>
	{% else %}
	<li><a href="#me">Guest</a></li>
	<li><a href="{% url 'login'%}">Login</a></li>
	{% endifequal %}
</ul>
{% endblock %}


{% block container %}

<div class="container theme-showcase" role="main">
	{% ifequal status 'wrong'%}
		<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Please try again latter.</div>
	{% endifequal %}
	<div class="jumbotron">
		
	    <h1>Ve475 Introduction to Cryptography</h1>
    	<p>SU2017 Challenge 2</p>
	  </div>
	<p>
		{{ content | custom_markdown }}
    </p>
</div>

{% endblock %}
