{% extends "base.html" %}

{% block container %}
<div class="container" role="main">
    
	<div class="page-header">
		<h1>AttackID:{{attack.id}}</h1>
	</div>
    <div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">Who</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{attack.attacker}}
        </div>
    </div>

    <div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">Whom</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            Group{{attack.whom}}
        </div>
    </div>
    
	<div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">When</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{attack.date_time}}
        </div>
    </div>

    <div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">Operation Type</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{attack.atype}}
        </div>
    </div>

    <div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">Input</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{attack.text}}
        </div>
    </div>

    <div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">Output</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{attack.output}}
        </div>
    </div>

    <div class="panel panel-info">
		<div class="panel-heading">
		<h3 class="panel-title">Key</h3>
		</div>
        <div class="panel-body" style="word-break:break-all; word-wrap:break-all">
            {{attack.key}}
        </div>
    </div>
</div>

{% endblock %}
